* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

.first-line {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: #152c40;

  max-width: 100vha;

  flex: 1;
}

.container {
  display: flex;
  align-content: center;
  justify-content: space-between;

  margin: 0 auto;

  width: 1060px;
}
. .header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.first-line-text {
  color: #fff;
  font-family: Barlow;
  font-size: 16px;
  padding: 8px;
}

.whatsapp {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.logo-menu {
  padding: 32px;
}

.menu {
  display: flex;
  text-align: right;
  flex-direction: row;

  text-decoration: none;
  justify-content: center;
}

.menu-container {
  display: flex;
  text-align: center;
  justify-content: center;

  text-decoration: none;
  margin-top: 48px;
}

.menu li a {
  color: #012611;
  font-weight: bold;

  letter-spacing: 0.1em;
  font-size: 16px;
  line-height: 20px;
  padding: 1px 16px;
  transition: 0.6s;
  font-family: Barlow;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0.2em;
  display: inline-block;
  margin-right: auto;
  cursor: pointer;

  transition: transform 0.2s;

  max-width: 1800px;

  text-decoration: none;
}

.menu a:hover {
  color: #668c14 !important;
  transform: scale(1.1);
}

.selected {
  color: #668c14 !important;
  text-decoration-line: underline !important;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;

  font-family: Barlow;
  font-weight: bold;

  gap: 10px;

  padding: 15px 36px;

  width: 150px;
  height: 44px;

  background: #668c14;

  margin-top: -10px;

  border-radius: 30px;

  transition: transform 0.2s;
}

.login:hover {
  color: #152c40 !important;
  transform: scale(1.1);
}

.line {
  border: 1px solid #152c40;
  width: 1061px;
  height: 0px;
  margin-top: -10px;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
}

.hero-title {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0.105em;

  color: #152c40;
}

.hero-subtitle {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.02em;
  margin-top: -10px;

  color: #152c40;
}
.hero-green {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.02em;

  color: #668c14;
}

.hero-paragraph {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 22px;

  color: #152c40;
}

.line-hero {
  width: 390px;
  height: 0px;
  left: 427px;
  top: 474px;

  border: 1px solid #152c40;

  margin: 27px 0;
}

.botton-green {
  display: flex;

  justify-content: center;
  align-items: center;

  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;

  color: #ffffff;
  gap: 10px;

  padding: 15px 36px;

  max-width: 221px;
  height: 49px;

  background: #668c14;

  margin-top: 10px;

  border-radius: 30px;

  transition: transform 0.2s;
}

.botton-green:hover {
  color: #152c40 !important;
  transform: scale(1.1);
}

.message-title {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  color: #668c14;
}

.message-title-blue {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-top: 36px;

  color: #152c40;
}

.container-message {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 48px;

  margin: 100px auto;

  width: 1060px;
}

.message-text-box {
  padding-top: 48px;
}

.card-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 48px;

  margin: 100px auto;

  width: 1060px;

  position: absolute;
  top: 220%;
  transform: translateY(-50%);
  width: 100%;
  height: 90%;
  max-height: 28vw;
  overflow: hidden;
  margin-botton: 100px;
}
.gallery__stream {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  auto-width: 704px;
  max-height: 551px;

  background: #ffffff;
  box-shadow: 0px 0px 8px 9px rgba(19, 41, 61, 0.1);
  border-radius: 30px;
  padding: 300px 30px;

  position: absolute;
  width: 50%;
  height: 100%;
  transition: 1s all ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.gallery__item {
  position: absolute;
  width: 50%;
  height: 100%;
  transition: 1s all ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
}

.gallery__item:nth-child(1) {
  left: 0;
  z-index: 1;
  transform: translateX(-100%) scale(0.8);
}

.gallery__item:nth-child(2) {
  left: 0;
  z-index: 2;
  transform: translateX(-50%) scale(0.8);
}

.gallery__item:nth-child(3) {
  left: 50%;
  z-index: 4;
  transform: translateX(-50%) scale(1);
}

.gallery__item:nth-child(4) {
  left: 100%;
  z-index: 2;
  transform: translateX(-50%) scale(0.8);
}

.gallery__item:nth-child(n + 5) {
  left: 100%;
  z-index: 1;
  transform: scale(0.8);
}

.gallery__prev,
.gallery__next {
  position: absolute;
  top: 50%;
  z-index: 4;
  width: 50%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  cursor: pointer;
}

.gallery__prev {
  left: 0;
}

.gallery__next {
  left: 100%;
}

.gallery:before,
.gallery:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 3;
}

.gallery:before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.gallery:after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.card-text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 161.5%;
  /* or 23px */

  text-indent: 17px;

  color: #152c40;
}
.line-card {
  width: 223px;
  height: 0px;

  border: 1px solid #152c40;
  margin: 27px 0;
}

.name-card {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #152c40;
}

.date-card {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #152c40;
}

.stars-cards {
  width: 136px;
  height: 28.2px;
}
